logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.log
*.env

test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
/package-lock.json
/config/config.local.ts
/typings
/typings/app
/typings/config
